<header class="">
    <nav class="shadow bg-gray-800">
        <div
            class="py-3 text-center text-xl font-bold transition-colors duration-200 transform text-white lg:text-3xl hover:text-gray-300">
            <a href="/">Cafeteria App</a>
        </div>
    </nav>

    <!-- nav -->
</header>