<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Cafeteria App</title>
</head>

<body>
    <h1 class="text-3xl">Hello World</h1>

    <form action="/trainee/order" method="post">
        <select name="opts" id="opts" multiple>
            <% options.forEach(function(option) { %>
                <option value="<%= option.id %>">
                    <%= option.option_name %> (<%= option.category_name %>)
                </option>
                <% }) %>
        </select>

        <button type="submit">Next</button>
    </form>
</body>

</html>