<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>

<body>
    <min class="flex items-center justify-center h-screen bg-gray-100">
        <form action="/auth/login" method="post">


            <div cladd="bg-white w-96 p-6 rounded shadow-sm">
                <div clas="flex items-center justify-center mb-4">
                    <img src="https://www.gifimages.pics/images/quotes/english/general/gif-for-food-52650-148861.gif"
                        class="h-32">
                        </div>
                    <label class="text-gray-700" for="email">Email Address</label>
                    <input class="w-full py-2 bg-gray-50 text-gray-500 px-1 outline-none mb-4" type="email" name="email" id="email" />
                </div>

                <div>
                    <label class="text-gray-700"  for="password">Password</label>
                    <input class="w-full py-2 bg-gray-50 text-gray-500 px-1 outline-none mb-4" type="password" name="password" id="password" />
                </div>

                <button type="submit" class="bg-pink-500 w-full text-gray-100 py-2 rounded hover:bg-gray-900 transition-colors">Login</button>
        </form>
</body>

</html>