<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Cafeteria App</title>
</head>


<body>

    <%- include('partials/header.ejs') %>

        <div class="antialiased bg-gray-100 ">
            <div
                class="flex w-full min-h-screen justify-center items-center bg-[url('http://blog.yorksj.ac.uk/outreach/files/2020/07/healthy-eatig.jpg')] bg-no-repeat bg-cover">

                <div
                    class="flex flex-col md:flex-row md:space-x-6 md:space-y-0 bg-gray-900 w-full max-w-4xl p-8 rounded-xl shadow-lg text-white">

                    <div class="flex flex-col  space-y-8 justify-between">

                        <div class="max-w-md">
                            <h1 class="font-bld text-4xl tracking-wide">Order Now</h1>
                            <p class="pt-2 text-cyan-100 text-sm">
                                “Let food be thy medicine and medicine be thy food.” “We all eat, and it would be a sad
                                waste of opportunity to eat badly.” “You don't need a silver fork to eat good food.”
                                “After a good dinner one can forgive anybody, even one's own relatives.”
                            </p>
                        </div>
                        <div class="flex flex-col space-y-6">
                            <div class="inline-flex space-x-2 items-center">
                                <ion-icon name="fast-food-outline" class="text-pink-200 text-xl"></ion-icon>
                                <span>EAT</span>
                            </div>


                            <div class="inline-flex space-x-2 items-center">
                                <ion-icon name="beer-outline" class="text-pink-200 text-xl"></ion-icon>
                                <span>DRINK</span>
                            </div>


                            <div class="inline-flex space-x-2 items-center">
                                <ion-icon name="pizza-outline" class="text-pink-200 text-xl"></ion-icon>
                                <span>BE FILL</span>
                            </div>
                        </div>
                        <div class="flex space-x-4 text-lg">
                            <ion-icon name="logo-facebook"></ion-icon>

                            <ion-icon name="logo-instagram"></ion-icon>
                        </div>
                    </div>
                    <div>

                        <div class="bg-white rounded-xl shadow-lg p-8 text-gray-600  md:w-100">
                            <form action="/trainee/login" method="post" class="flex flex-col space-y-4">

                                <div>
                                    <label for="fname" class="text-sm">First Name</label>

                                    <input type="text" id="fname" name="fname" placeholder="Your First Name"
                                        class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 outline-none focus:ring-2 focus:ring-pink-300 mt-2">
                                </div>


                                <div>
                                    <label for="lname" class="text-sm">Last Name</label>

                                    <input type="text" id="lname" name="lname" placeholder="Your Last Name"
                                        class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 outline-none focus:ring-2 focus:ring-pink-300 mt-2">

                                </div>


                                <div>
                                    <label for="cohort" class="text-sm">Cohort</label>

                                    <input type="number" id="cohort" name="cohort" placeholder="Cohort"
                                        class="ring-1 ring-gray-300 w-full rounded-md px-4 py-2 outline-none focus:ring-2 focus:ring-pink-300 mt-2">


                                </div>
                                <button
                                    class="inline-block self-en bg-pink-700 text-white font-blod rounded-lg px-6 py-2 uppercase text-sm"
                                    type="submit">Continue</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') %>

            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<html>